@charset "UTF-8";

//
// Alerts.
//

$alertPadding:          0.824em 2.25em 1em 1.15em                                              !default;
$alertBlockPadding:     0.824em 1.15em 1em                                                     !default;

$alertLineHeight:       1.5                              !default;
$alertHeadingMargin:    0.05em 0 0.25em                  !default;