@charset "UTF-8";

//
// Navbar.
// 1. Base styles.
// 2. Link and text styles.
//

$navbarHeight:                     90px                          !default; // 1
$navbarFixedSideWidth:             228px                         !default; // 1
$navbarFontSize:                   14px                          !default; // 1
$navbarDesktopLinkSideSpacing:     1em                           !default; // 1
$navbarLinkFontWeight:             500                           !default; // 1
$navbarBackground:                 #2c3e50                       !default; // 1
$navbarLeftBoxShadow:              2px 0 4px rgba(0, 0, 0, 0.1)  !default; // 1
$navbarRightBoxShadow:             -2px 0 4px rgba(0, 0, 0, 0.1) !default; // 1

$navbarLinkColor:                  $white                        !default; // 2
$navbarLinkColorHover:             $navbarLinkColor              !default; // 2
$navbarLinkColorActive:            $gray                         !default; // 2
$navbarLinkBackgroundHover:        transparent                   !default; // 2
$navbarLinkBackgroundActive:       darken($navbarBackground, 3%) !default; // 2
