@charset "UTF-8";

// Tables Renew
// =============================================================================

$tableBackground: transparent !default;
$tableBorder: $widgetBorderColor !default;

$table_th_td_border_size: 1px;
$table_th_td_border_style: solid;

$table_tbody_border_size: 2px;
$table_tbody_border_style: solid;

$table_td_line_height: 1.4;