@charset "UTF-8";

//
// Tooltips
//

$tooltipArrowWidth:         5px     !default;
$tooltipArrowColor:         #272727 !default;
$tooltipColor:              $white  !default;
$tooltipBackground:         #272727 !default;