@charset "UTF-8";

//--------------------------------------------------------------
// Alignments
//--------------------------------------------------------------

// Left Align
.alignleft {
  display: inline;
  float: left;
  margin: 0 rem(24) 0 0;
}

// .alignleft

// Van Theme X  versie
.alignleft {
  float: left;
  margin: 0.35em $baseMargin 0.35em 0;
}


// =====================================================================
// =====================================================================
// =====================================================================

// Right Align
.alignright {
  display: inline;
  float: right;
  margin: 0 0 0 rem(24);
}

// Van Theme X  versie
.alignright {
  float: right;
  margin: 0.35em 0 0.35em $baseMargin;
}

// .alignright

// =====================================================================
// =====================================================================
// =====================================================================

// Center Align
.aligncenter {
  @include margin-auto;
}

// .aligncenter

// Van Theme X  versie
.aligncenter {
  display: block;
  margin: 0 auto $baseMargin;
}

// =====================================================================
// =====================================================================
// =====================================================================

.alignnone {
  float: none;
  margin: 0 0 $baseMargin 0;
}

.sticky {
  margin: 0;
}

