@charset "UTF-8";

// =============================================================================
// _TYPE.SCSS
// -----------------------------------------------------------------------------
// Site styles.
// =============================================================================

// Body Text
// =============================================================================

p {
  margin: 0 0 $baseMargin;
}

// Emphasis
// =============================================================================

small {
  font-size: 0.8em;
}

b,
strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

cite {
  font-style: normal;
}

