@charset "UTF-8";

// Body
//
// Settings for the `<body>` element.

//$body-bg:       $white !default;
//$body-color:    $gray-dark !default;
//$inverse-bg:    $gray-dark !default;
//$inverse-color: $gray-lighter !default;

// General
$color-background-body: $color-white;
$color-text-main: $color-cod-gray;
$color-background-hr: $color-silver;
$color-border-abbr: $color-dove-gray;


// Scaffolding Renew
// =============================================================================

$bodyBackground:    #ecf0f1 !default;
$textColor:         #28323f !default;